<mat-form-field class="full-width" color="accent">
	<mat-label>{{ name }}</mat-label>
	<input
		matInput
		placeholder="Digita per filtrare..."
		[matAutocomplete]="auto"
		[formControl]="userFormControl"
	/>
	<button
		mat-button
		*ngIf="selectedUser"
		matSuffix
		mat-icon-button
		aria-label="Clear"
		(click)="changeUser()"
	>
		<mat-icon color="accent">close</mat-icon>
	</button>
	<mat-autocomplete #auto="matAutocomplete">
		<mat-option
			*ngFor="let user of filteredUsers | async"
			[value]="user.displayName"
			(onSelectionChange)="selectedValueChange(user)"
		>
			<img
				class="option-img"
				aria-hidden
				[src]="user.photoURL"
				height="25"
				style="border-radius: 100%"
			/>
			<span>{{ user.displayName }}</span> |
			<small>
				<em>{{ user.email }} </em>
			</small>
		</mat-option>
	</mat-autocomplete>
</mat-form-field>
