<mat-card
	[class.mat-elevation-z0]="true"
	style="float: left; overflow: hidden"
	class="example-full-width"
	align="center"
>
	<mat-card-title style="margin-bottom: 20px">Aggiungi un nuovo istruttore</mat-card-title>
	<mat-card-content>
		<form class="example-form">
			<mat-form-field class="example-full-width">
				<mat-label>Sede</mat-label>
				<input matInput disabled value="Gymnasium #1" />
			</mat-form-field>

			<table class="example-full-width" cellspacing="0">
				<tr>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Nome</mat-label>
							<input
								#nome
								matInput
								required
								placeholder="Mario"
								[formControl]="nomeFormControl"
							/>
							<button
								mat-button
								*ngIf="nomeFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="nomeFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Cognome</mat-label>
							<input
								#cognome
								matInput
								required
								placeholder="Rossi"
								[formControl]="cognomeFormControl"
							/>
							<button
								mat-button
								*ngIf="cognomeFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="cognomeFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
				</tr>
			</table>

			<p>
				<mat-form-field class="example-full-width" color="accent">
					<mat-label>Codice Fiscale</mat-label>
					<input
						matInput
						#codiceFiscale
						maxlength="16"
						minlength="16"
						required
						[formControl]="codiceFiscaleFormControl"
					/>
					<mat-hint align="end">{{ codiceFiscale.value.length }} / 16</mat-hint>
					<mat-error *ngIf="codiceFiscaleFormControl.hasError('required')">
						Codice fiscale <strong>obbligatorio</strong>
					</mat-error>
					<mat-error *ngIf="codiceFiscaleFormControl.hasError('minlength')">
						Minimo 16 caratteri
					</mat-error>
					<mat-error *ngIf="codiceFiscaleFormControl.hasError('maxlength')">
						Massimo 16 caratteri
					</mat-error>
					<mat-error *ngIf="codiceFiscaleFormControl.hasError('pattern')">
						Inserisci un codice fiscale <strong>valido</strong>
					</mat-error>
					<button
						mat-button
						*ngIf="codiceFiscaleFormControl.value"
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="codiceFiscaleFormControl.setValue(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</p>

			<p>
				<img
					id="photo-profile"
					alt=""
					style="border-radius: 100%; width: 100px; height: 100px"
					hidden="true"
				/>
				<mat-form-field class="example-full-width" color="accent">
					<mat-label>Foto profilo URL</mat-label>
					<input matInput type="text" [formControl]="photoFormControl" required />
					<mat-error *ngIf="photoFormControl.hasError('required')">
						Foto profilo <strong>obbligatoria</strong>
					</mat-error>
					<div matSuffix>
						<button
							mat-button
							*ngIf="photoFormControl.value"
							mat-icon-button
							aria-label="Clear"
							(click)="photoFormControl.setValue(null);removePhoto()"
						>
							<mat-icon>close</mat-icon>
						</button>
						<button
							mat-button
							*ngIf="!photoFormControl.value"
							mat-icon-button
							aria-label="Upload"
							(click)="uploadPhoto()"
						>
							<mat-icon>add_a_photo</mat-icon>
						</button>
					</div>
				</mat-form-field>
			</p>

			<p>
				<mat-form-field class="example-full-width" color="accent">
					<mat-label>Indirizzo</mat-label>
					<textarea
						#indirizzo
						matInput
						placeholder="Es. Via Roma 100"
						required
						[formControl]="indirizzoFormControl"
					></textarea>
					<button
						mat-button
						*ngIf="indirizzoFormControl.value"
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="indirizzoFormControl.setValue(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</p>

			<table class="example-full-width" cellspacing="0">
				<tr>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Stato</mat-label>
							<input matInput value="Italia" disabled />
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Città</mat-label>
							<input
								matInput
								placeholder="Ex. Milano"
								[formControl]="cittaFormControl"
								required
							/>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Codice Postale</mat-label>
							<input
								matInput
								#postalCode
								maxlength="5"
								placeholder="Ex. 36000"
								[formControl]="codicePostaleFormControl"
								required
							/>
							<mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
							<mat-error *ngIf="codicePostaleFormControl.hasError('required')">
								Codice postale <strong>obbligatorio</strong>
							</mat-error>
						</mat-form-field>
					</td>
				</tr>
			</table>
		</form>
		<!-- id -->
		<!-- displayName -->
		<!-- fiscal code -->
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="warn" (click)="resetClient(client)">Reset</button>
		<button
			mat-raised-button
			color="primary"
			(click)="addClient(client)"
			[disabled]="
				nomeFormControl.invalid ||
				cognomeFormControl.invalid ||
				codiceFiscaleFormControl.invalid ||
				codicePostaleFormControl.invalid ||
				indirizzoFormControl.invalid ||
				photoFormControl.invalid
			"
		>
			Aggiungi Istruttore
		</button>
	</mat-card-actions>
</mat-card>
