<mat-card
	[class.mat-elevation-z0]="true"
	style="float: left; overflow: hidden"
	class="example-full-width"
	align="center"
>
	<mat-card-title style="margin-bottom: 20px">Aggiungi un nuovo esercizio</mat-card-title>
	<mat-card-content>
		<form class="example-form">
			<table class="example-full-width" cellspacing="0">
				<tr>
					<td>
						<mat-form-field appearance="fill" color="accent">
							<mat-label>Nome</mat-label>
							<input
								#nome
								matInput
								required
								placeholder="Mario"
								[formControl]="nomeFormControl"
							/>
							<button
								mat-button
								*ngIf="nomeFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="nomeFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field appearance="fill" color="accent">
							<mat-label>Category</mat-label>
							<mat-select name="category" [formControl]="categoryFormControl">
								<mat-option *ngFor="let category of categories" [value]="category">
									{{ category }}
								</mat-option>
							</mat-select>
							<button
								mat-button
								*ngIf="categoryFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="categoryFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
				</tr>
			</table>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="warn" (click)="resetExercise(exerciseEntry)">Reset</button>
		<button
			mat-raised-button
			color="primary"
			(click)="addExercise(exerciseEntry)"
			[disabled]="nomeFormControl.invalid || categoryFormControl.invalid"
		>
			Aggiungi Esercizio
		</button>
	</mat-card-actions>
</mat-card>
