<mat-card *ngIf="workout" class="mat-elevation-z0">
	<mat-card-actions>
		<button mat-raised-button (click)="downloadExcel(workout)">
			Download Excel
			<i class="material-icons md-48">article</i>
		</button>
	</mat-card-actions>
	<!-- list of workout sessions -->
	<mat-tab-group mat-stretch-tabs mat-align-tabs="center" class="example-stretched-tabs">
		<div *ngFor="let workout_session of workout.sessions">
			<mat-tab
				[label]="workout_session.name"
				[disabled]="chosen_session && workout_session.name != chosen_session"
			>
				<!-- * workout session -->
				<div class="workout-session-actions">
					<button
						*ngIf="workout.state !== states.started"
						mat-raised-button
						color="primary"
						(click)="start(workout_session)"
					>
						{{ !time ? 'Start' : 'Continue' }}
						<i class="material-icons md-48">play_arrow</i>
					</button>
					<button
						*ngIf="workout.state == states.started"
						mat-raised-button
						(click)="pause()"
					>
						Pause
						<i class="material-icons md-48">pause</i>
					</button>
					<button
						*ngIf="workout.state && workout.state != states.stopped"
						mat-raised-button
						(click)="stop()"
					>
						Stop
						<i class="material-icons md-48">stop</i>
					</button>
					<button mat-raised-button color="accent" (click)="pause()">
						Statistics
						<i class="material-icons md-48">query_stats</i>
					</button>
					<div *ngIf="time">
						<mat-form-field>
							<mat-label>Session Time</mat-label>
							<input #inputset matInput [value]="time_formatted" type="time" />
						</mat-form-field>
					</div>
				</div>
				<!-- * workout preview / not editable -->
				<form *ngIf="workout.state != states.started">
					<table
						class="example-full-width"
						cellspacing="0"
						style="display: block; margin-top: 15px"
					>
						<tr
							*ngFor="let exercise of workout_session.exercises"
							style="text-align: center"
						>
							<td>
								<mat-form-field class="field-large">
									<mat-label>Exercise</mat-label>
									<input
										matInput
										[value]="exercise.name"
										color="accent"
										[readonly]="!exercise['edit']"
									/>
								</mat-form-field>
							</td>
							<td>
								<mat-form-field
									class="field-small"
									color="accent"
									style="text-align: center"
								>
									<mat-label>Sets</mat-label>
									<input
										matInput
										type="text"
										[value]="exercise.sets ? exercise.sets : '-'"
										[readonly]="!exercise['edit']"
									/>
								</mat-form-field>
							</td>
							<td>
								<mat-form-field
									class="field-small"
									color="accent"
									style="text-align: center"
								>
									<mat-label>Reps</mat-label>
									<input
										matInput
										type="text"
										[value]="exercise.reps ? exercise.reps : '-'"
										[readonly]="!exercise['edit']"
									/>
								</mat-form-field>
							</td>
							<td>
								<mat-form-field
									class="field-medium"
									color="accent"
									style="text-align: center"
								>
									<mat-label>Rest</mat-label>
									<input
										matInput
										type="text"
										[readonly]="!exercise['edit']"
										[value]="
											(exercise.rest.minutes
												? exercise.rest.minutes + '\''
												: '') +
											(exercise.rest.seconds
												? exercise.rest.seconds + '\'\''
												: '')
										"
									/>
								</mat-form-field>
							</td>
							<td *ngIf="exercise.notes">
								<i
									class="material-icons md-48"
									[matTooltip]="exercise.notes"
									style="cursor: pointer"
									(click)="openInfoNotes(exercise)"
									>notes</i
								>
							</td>
						</tr>
					</table>
				</form>
				<!-- * vertical stepper with live exercises -->
				<div *ngIf="workout.state == states.started">
					<h3>
						<strong>{{ workout_session.name }}</strong>
					</h3>
					<mat-vertical-stepper [linear]="false" #stepper>
						<mat-step
							*ngFor="let exercise of exercises_records; let i = index"
							state="exercise"
						>
							<ng-template matStepLabel>{{ exercise.name }}</ng-template>
							<form *ngIf="exercise.weights.length < exercise.sets && !resting">
								<mat-form-field>
									<mat-label
										>Set {{ exercise.weights.length + 1 }}/{{
											exercise.sets
										}}</mat-label
									>
									<input
										#inputset
										matInput
										[placeholder]="
											exercise.type == 'Weight'
												? 'Insert weight here'
												: 'Insert time here'
										"
										type="number"
									/>
									<span matSuffix>kg</span>
								</mat-form-field>
								<mat-icon
									*ngIf="inputset.value"
									(click)="insertSet(inputset, exercise, stepper)"
									style="padding: 10px; cursor: pointer"
									>add_circle</mat-icon
								>
							</form>
							<div *ngIf="resting" style="margin-bottom: 30px">
								<span>
									Resting 😌😌
									<button mat-button (click)="stopRest()" style="padding: 10px">
										Skip Rest
										<i class="material-icons md-48">stop</i>
									</button>
								</span>
								<mat-progress-bar
									style="width: 200px"
									mode="determinate"
									[value]="exercise_rest"
								></mat-progress-bar>
							</div>
							<h4 *ngIf="exercise.weights.length == exercise.sets">
								You completed this exercise
							</h4>
							<div>
								<button
									mat-button
									matStepperPrevious
									*ngIf="i"
									[disabled]="resting"
								>
									Back
								</button>
								<button
									mat-raised-button
									color="primary"
									matStepperNext
									[disabled]="resting"
								>
									Next
								</button>
							</div>
						</mat-step>
						<!-- * last step to confirm the session -->
						<mat-step>
							<ng-template matStepLabel>Finish</ng-template>
							<p>You have completed the workout session!</p>
							<div>
								<button mat-button matStepperPrevious>Back</button>
								<button mat-raised-button color="accent" (click)="stop()">
									Finish & Save
								</button>
							</div>
						</mat-step>
						<!-- todo: fix this -->
						<ng-template matStepperIcon="exercise">
							<mat-icon>fitness_center</mat-icon>
						</ng-template>
					</mat-vertical-stepper>
				</div>
			</mat-tab>
		</div>
	</mat-tab-group>
</mat-card>
