<mat-sidenav-container>
	<mat-sidenav #sidenav mode="over" id="sidenav">
		<h3 style="color: white">Menù</h3>
		<div *ngIf="user; then authenticated; else guest"></div>
		<ng-template #guest>
			<button color="primary" mat-raised-button (click)="router.navigateByUrl('login')">
				<i class="material-icons md-48">login</i>
				Login
			</button>
		</ng-template>
		<ng-template #authenticated>
			<!-- admin -->
			<button
				*ngIf="user && user.type == UserTypes.admin"
				color="primary"
				mat-raised-button
				(click)="router.navigateByUrl('admin')"
				class="menu-tab"
			>
				Admin
				<i class="material-icons-two-tone">admin_panel_settings</i>
			</button>
			<!-- diary -->
			<button
				*ngIf="
					user &&
					(user.type == UserTypes.admin ||
						user.type == UserTypes.trainer ||
						user.type == UserTypes.receptionist ||
						user.type == UserTypes.manager)
				"
				color="primary"
				mat-raised-button
				(click)="router.navigateByUrl('diario')"
				class="menu-tab"
			>
				Diario
				<i class="material-icons-two-tone">book</i>
			</button>
			<!-- new trainer -->
			<!-- <button
				*ngIf="
					user &&
					(user.type == UserTypes.admin ||
						user.type == UserTypes.receptionist ||
						user.type == UserTypes.manager)
				"
				color="primary"
				mat-raised-button
				(click)="router.navigateByUrl('new-trainer')"
				class="menu-tab"
			>
				Nuovo Istruttore
				<i class="material-icons-two-tone">person_add</i>
			</button> -->
			<!-- new client -->
			<button
				*ngIf="
					user &&
					(user.type == UserTypes.admin ||
						user.type == UserTypes.receptionist ||
						user.type == UserTypes.manager)
				"
				color="primary"
				mat-raised-button
				(click)="router.navigateByUrl('new-client')"
				class="menu-tab"
			>
				Nuovo Cliente
				<i class="material-icons-two-tone">person_add</i>
			</button>
			<!-- new workout -->
			<button
				*ngIf="user && (user.type == UserTypes.admin || user.type == UserTypes.trainer)"
				color="primary"
				mat-raised-button
				(click)="router.navigateByUrl('new-workout')"
				class="menu-tab"
			>
				Nuovo Allenamento
				<i class="material-icons-two-tone">fitness_center</i>
			</button>
			<!-- book -->
			<!-- <button
				*ngIf="user && (user.type == UserTypes.admin || user.type == UserTypes.client)"
				color="primary"
				mat-raised-button
				(click)="router.navigateByUrl('book')"
				class="menu-tab"
			>
				Prenota
				<i class="material-icons-two-tone">today</i>
			</button> -->
			<button
				color="primary"
				mat-raised-button
				(click)="router.navigateByUrl('area-personale')"
				class="menu-tab"
			>
				Area Personale
				<i class="material-icons-two-tone">account_circle</i>
			</button>
			<button mat-button (click)="auth.signOut()" class="menu-tab">
				<mat-icon>exit_to_app</mat-icon>
			</button>
		</ng-template>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<div class="example-sidenav-content">
				<button type="button" mat-button (click)="sidenav.toggle()">
					<i class="material-icons">list</i>
				</button>
			</div>
			<span (click)="router.navigateByUrl('home')" style="cursor: pointer">
				<h1>
					{{ title }}
					{{ user ? '| ' + user?.type + ' : ' + user.displayName : '' }}
				</h1>
			</span>
			<span class="fill-remaining-space"></span>
		</mat-toolbar>
	</mat-sidenav-content>
</mat-sidenav-container>
