<div style="text-align: center; margin: 25px 0px">
	<button mat-icon-button [disabled]="history_index == 0" (click)="prevHistory()">
		<mat-icon>chevron_left</mat-icon>
	</button>

	<h3 style="display: inline-block">Date {{ sessionRecords[history_index].date }}</h3>

	<button
		mat-icon-button
		[disabled]="history_index == sessionRecords?.length - 1"
		(click)="nextHistory()"
	>
		<mat-icon>chevron_right</mat-icon>
	</button>
</div>

<table mat-table [dataSource]="history" class="mat-elevation-z8">
	<!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

	<!-- Position Column -->
	<ng-container matColumnDef="exercise">
		<th mat-header-cell *matHeaderCellDef>Exercise</th>
		<td mat-cell *matCellDef="let element">{{ element.exercise }}</td>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="set1">
		<th mat-header-cell *matHeaderCellDef>Set 1</th>
		<td mat-cell *matCellDef="let element">{{ element.sets < 1 ? '-' : element.set1 }}</td>
	</ng-container>

	<!-- Weight Column -->
	<ng-container matColumnDef="set2">
		<th mat-header-cell *matHeaderCellDef>Set 2</th>
		<td mat-cell *matCellDef="let element">{{ element.sets < 2 ? '-' : element.set2 }}</td>
	</ng-container>

	<!-- Symbol Column -->
	<ng-container matColumnDef="set3">
		<th mat-header-cell *matHeaderCellDef>Set 3</th>
		<td mat-cell *matCellDef="let element">{{ element.sets < 3 ? '-' : element.set3 }}</td>
	</ng-container>

	<ng-container matColumnDef="set4">
		<th mat-header-cell *matHeaderCellDef>Set 4</th>
		<td mat-cell *matCellDef="let element">{{ element.sets < 4 ? '-' : element.set4 }}</td>
	</ng-container>

	<ng-container matColumnDef="set5">
		<th mat-header-cell *matHeaderCellDef>Set 5</th>
		<td mat-cell *matCellDef="let element">{{ element.sets < 5 ? '-' : element.set5 }}</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
