<mat-card
	align="center"
	class="mat-elevation-z0"
	style="width: 400px; text-align: center; margin: 30px auto"
>
	<mat-card-title>Ciao! Ci conosciamo?</mat-card-title>
	<mat-card-content>
		<p>Esegui il <strong>login</strong> per utilizzare <em>ultra-gymnasium</em></p>
		<button mat-raised-button color="primary" (click)="login()">Login Google</button>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button (click)="router.navigateByUrl('home')">Home</button>
	</mat-card-actions>
</mat-card>
