
<mat-card [class.mat-elevation-z0]="true" align="center" style="float: left; overflow: hidden;" class="example-full-width">
    <mat-card-title style="margin-bottom: 20px">Aggiungi un nuovo cliente</mat-card-title>
    <!-- list of exercises -->
    <mat-card-content style="display: table; margin: auto;">
        <form *ngFor="let exercise of exercises">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Esercizio</mat-label>
                            <input
                                disabled
                                matInput
                                
                                [value]="exercise.name"
                                color="accent"
                            />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="number" color="accent">
                            <mat-label>Sets</mat-label>
                            <input
                                matInput
                                
                                type="number"
                                [value]="exercise.sets"
                                disabled
                            />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="number" color="accent">
                            <mat-label>Reps</mat-label>
                            <input
                                matInput
                                
                                type="number"
                                [value]="exercise.reps"
                                disabled
                            />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="number" color="accent">
                            <mat-label>Min</mat-label>
                            <input
                                matInput
                                
                                type="number"
                                [value]="exercise.rest.minutes"
                                disabled
                            />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="number" color="accent">
                            <mat-label>Sec</mat-label>
                            <input
                                matInput
                                
                                type="number"
                                [value]="exercise.rest.seconds"
                                disabled
                            />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Note</mat-label>
                            <input
                                matInput
                                
                                [value]="exercise.notes"
                                color="accent"
                                disabled
                            />
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
        <form *ngIf="edit_mode">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Esercizio</mat-label>
                            <input
                                matInput
                                required
                                placeholder="Panca piana"
                                [formControl]="esercizioFormControl"
                                color="accent"
                            />
                            <button
                                mat-button
                                *ngIf="esercizioFormControl.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="esercizioFormControl.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="number" color="accent">
                            <mat-label>Sets</mat-label>
                            <input
                                matInput
                                required
                                type="number"
                                placeholder="3"
                                [formControl]="setsFormControl"
                            />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="number" color="accent">
                            <mat-label>Reps</mat-label>
                            <input
                                matInput
                                required
                                type="number"
                                placeholder="10"
                                [formControl]="repsFormControl"
                            />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="number" color="accent">
                            <mat-label>Rest Min</mat-label>
                            <input
                                matInput
                                type="number"
                                placeholder="1"
                                [formControl]="restMinFormControl"
                            />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="number" color="accent">
                            <mat-label>Rest Sec</mat-label>
                            <input
                                matInput
                                type="number"
                                placeholder="30"
                                [formControl]="restSecFormControl"
                            />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Note</mat-label>
                            <input
                                matInput
                                placeholder="Ex. Controllo esecuzione"
                                [formControl]="notesFormControl"
                                color="accent"
                            />
                            <button
                                mat-button
                                *ngIf="notesFormControl.value"
                                matSuffix
                                mat-icon-button
                                aria-label="Clear"
                                (click)="notesFormControl.setValue(null)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>        
        <button *ngIf="!edit_mode" mat-icon-button (click)="newExercise()">
            <mat-icon style="cursor: pointer;">add_circle_outline</mat-icon>
        </button>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="addExercise()">Aggiungi Esercizio</button>
        <button mat-raised-button color="primary" (click)="createWorkout()">Crea Allenamento</button>
    </mat-card-actions>
</mat-card>
