<mat-card
	*ngIf="workouts?.length > 0"
	class="mat-elevation-z8"
>
	<mat-card-title>Allenamenti</mat-card-title>
	<mat-card-content style="display: contents"
		><table mat-table [dataSource]="workouts">
			<!-- workout name -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>Nome</th>
				<td mat-cell *matCellDef="let w">{{ w.name }}</td>
			</ng-container>
			<!-- starting date -->
			<ng-container matColumnDef="startingDate">
				<th mat-header-cell *matHeaderCellDef>Inizio</th>
				<td mat-cell *matCellDef="let w">
					{{ w.startingDate ? (w.startingDate | date: 'dd/MM/yyyy') : '' }}
				</td>
			</ng-container>
			<!-- ending date -->
			<ng-container matColumnDef="endingDate">
				<th mat-header-cell *matHeaderCellDef>Fine</th>
				<td mat-cell *matCellDef="let w">
					{{ w.endingDate ? (w.endingDate | date: 'dd/MM/yyyy') : '' }}
				</td>
			</ng-container>
			<!-- trainer name -->
			<ng-container matColumnDef="trainer">
				<th mat-header-cell *matHeaderCellDef>Trainer</th>
				<td mat-cell *matCellDef="let w">{{ w.trainerName }}</td>
			</ng-container>
			<!-- delete Column -->
			<ng-container matColumnDef="delete">
				<th mat-header-cell *matHeaderCellDef>Elimina</th>
				<td mat-cell *matCellDef="let w">
					<mat-icon (click)="deleteWorkout(w)" style="cursor: pointer">delete</mat-icon>
				</td>
			</ng-container>
			<!-- export excel Column -->
			<ng-container matColumnDef="export">
				<th mat-header-cell *matHeaderCellDef>Export Excel</th>
				<td mat-cell *matCellDef="let w">
					<button mat-icon-button color="primary" (click)="exportExcel(w)">
						<i class="material-icons-two-tone">print</i>
					</button>
				</td>
			</ng-container>
			<!-- detail -->
			<ng-container matColumnDef="detail">
				<th mat-header-cell *matHeaderCellDef>Dettaglio</th>
				<td mat-cell *matCellDef="let c">
					<mat-icon (click)="selectWorkout(c)" style="cursor: pointer">forward</mat-icon>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="columnsWorkouts"></tr>
			<tr mat-row *matRowDef="let row; columns: columnsWorkouts"></tr>
		</table>
	</mat-card-content>
</mat-card>
