<mat-card *ngIf="client">
	<mat-card-content>
		<form class="example-form" align="center">
			<div *ngIf="client" align="center">
				<img
					[src]="client?.photoUrl"
					alt=""
					style="border-radius: 100%; width: 100px; height: 100px"
				/>
				<h2>{{ client.displayName }}</h2>
			</div>
		</form>
		<button mat-raised-button color="primary" (click)="createExcel()">createExcel</button>
		<button mat-raised-button color="primary" (click)="getExcel()">getExcel</button>
	</mat-card-content>
</mat-card>
<mat-card *ngIf="workout">
	<mat-card-content style="display: table; margin: auto">
		<form *ngFor="let exercise of workout.exercises">
			<table class="example-full-width" cellspacing="0">
				<tr>
					<td>
						<mat-form-field class="example-full-width">
							<mat-label>Esercizio</mat-label>
							<input
								matInput
								[value]="exercise.name"
								color="accent"
								[disabled]="!exercise['edit']"
							/>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="number" color="accent">
							<mat-label>Sets</mat-label>
							<input
								matInput
								type="number"
								[value]="exercise.sets"
								[disabled]="!exercise['edit']"
							/>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="number" color="accent">
							<mat-label>Reps</mat-label>
							<input
								matInput
								type="number"
								[value]="exercise.reps"
								[disabled]="!exercise['edit']"
							/>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="number" color="accent">
							<mat-label>Min</mat-label>
							<input
								matInput
								type="number"
								[value]="exercise.rest.minutes"
								[disabled]="!exercise['edit']"
							/>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="number" color="accent">
							<mat-label>Sec</mat-label>
							<input
								matInput
								type="number"
								[value]="exercise.rest.seconds"
								[disabled]="!exercise['edit']"
							/>
						</mat-form-field>
					</td>
					<td *ngIf="exercise.notes || exercise['edit']">
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Note</mat-label>
							<input
								matInput
								[value]="exercise.notes"
								color="accent"
								[disabled]="!exercise['edit']"
							/>
						</mat-form-field>
					</td>
				</tr>
			</table>
		</form>
	</mat-card-content>
</mat-card>
