<div align="center">
	<mat-card class="my-card mat-elevation-z2">
		<app-client-data (onNewClientData)="clientData = $event"></app-client-data>
	</mat-card>
	<mat-card class="my-card mat-elevation-z2">
		<app-fit-check></app-fit-check>
	</mat-card>
	<mat-card class="my-card mat-elevation-z2">
		<!-- <div *ngFor="let trainingCheck of diary.trainingChecks" style="display: block">
			<app-training-check [trainingCheck]="trainingCheck"></app-training-check>
		</div> -->
		<app-training-check></app-training-check>
	</mat-card>
</div>
