<app-user-select
	[center]="true"
	[name]="'Partiamo selezionando un cliente...'"
	[users]="clients"
	(onSelectUser)="onSelectClient($event)"
></app-user-select>
<!-- fallback when no diary found -->
<mat-card class="full-width mat-elevation-z0" align="center" *ngIf="selectedClient && !diary">
	<mat-card-subtitle
		>Sembra che non ci siano ancora diari associati a questo cliente. <br />
		Se si vuole crearne uno ora, clicchi su <strong>Crea Nuovo Diario</strong>
	</mat-card-subtitle>
	<mat-card-actions>
		<button mat-raised-button color="accent" (click)="createNewDiary()">
			Crea Nuovo Diario
		</button>
	</mat-card-actions>
</mat-card>
<div *ngIf="selectedClient && diary">
	<mat-card class="full-width mat-elevation-z0" align="center">
		<form class="full-width">
			<app-user-select
				[name]="'Consulente'"
				[users]="clients"
				(onSelectUser)="onSelectConsultant($event)"
			></app-user-select>
			<mat-form-field class="field-large" color="accent">
				<mat-label>Data</mat-label>
				<input matInput readonly [value]="diary.date | date: 'dd/MM/yyyy'" />
			</mat-form-field>
		</form>
		<button
			mat-raised-button
			color="accent"
			(click)="updateDiary()"
			[disabled]="
				!diary ||
				!diary.clientData ||
				!diary.fitCheck ||
				!diary.clientId ||
				!diary.consultantId
			"
		>
			Aggiorna Diario
		</button>
	</mat-card>
	<!-- only if the client has been chosen and a diary is present -->
	<mat-tab-group mat-align-tabs="center">
		<mat-tab label="Dati Cliente" align="center">
			<mat-card class="mat-elevation-z2" style="width: 700px">
				<mat-card-title>Dati Cliente</mat-card-title>
				<mat-card-subtitle
					>Questa sezione contiene tutti i dati di base del cliente e la descrizione
					accurata del suo obiettivo.</mat-card-subtitle
				>
				<app-client-data
					[clientData]="diary.clientData"
					(onNewClientData)="onNewClientData($event)"
				></app-client-data>
			</mat-card>
		</mat-tab>
		<mat-tab label="Fit Check Tecnico">
			<mat-card class="mat-elevation-z2" style="width: 700px">
				<mat-card-title>Fit Check Tecnico</mat-card-title>
				<mat-card-subtitle
					>Questa sezione contiene i dati per tracciare la condizione di salute fisica del
					cliente.</mat-card-subtitle
				>
				<app-fit-check
					[fitCheck]="diary.fitCheck"
					(onNewFitCheck)="onNewFitCheck($event)"
				></app-fit-check>
			</mat-card>
		</mat-tab>
		<mat-tab label="Verifiche di Allenamento">
			<mat-card
				class="my-card mat-elevation-z2"
				style="width: 700px"
				*ngIf="diary.trainingChecks"
			>
				<mat-card-title>Verifiche di Allenamento</mat-card-title>
				<mat-card-subtitle
					>Lista di tutte le precedenti verifiche di allenamento
					effettuate.</mat-card-subtitle
				>
				<mat-card-content *ngIf="diary.trainingChecks.length > 0">
					<mat-accordion class="example-headers-align" multi>
						<mat-expansion-panel
							*ngFor="let trainingCheck of diary.trainingChecks; let i = index"
						>
							<mat-expansion-panel-header>
								<mat-panel-title>
									Verifica Allenamento n°{{ i + 1 }}
								</mat-panel-title>
								<mat-panel-description>
									Data {{ trainingCheck.date | date: 'dd/MM/yyyy' }}
								</mat-panel-description>
							</mat-expansion-panel-header>
							<app-training-check
								[trainingCheck]="trainingCheck"
							></app-training-check>
						</mat-expansion-panel>
					</mat-accordion>
				</mat-card-content>
				<mat-card-content *ngIf="diary.trainingChecks.length === 0">
					Non ci sono ancora verifiche di allenamento
				</mat-card-content>
			</mat-card>

			<mat-card class="my-card mat-elevation-z2" style="width: 700px">
				<mat-card-title>Nuova Verifica di Allenamento</mat-card-title>
				<mat-card-subtitle
					>Crea una nuova verifica di allenamento: compila i campi richiesti e
					conferma.</mat-card-subtitle
				>
				<mat-card-content>
					<app-training-check
						(onNewTrainingCheck)="onNewTrainingCheck($event)"
					></app-training-check>
				</mat-card-content>
			</mat-card>
		</mat-tab>
	</mat-tab-group>
</div>
