<mat-card align="center">
	<mat-card-title> Create a workout routine </mat-card-title>
	<!-- <mat-card-actions>		
    </mat-card-actions> -->
	<mat-card-content>
		<mat-horizontal-stepper [linear]="true" #stepper class="form">
			<ng-template matStepperIcon="edit">
				<mat-icon>insert_emoticon</mat-icon>
			</ng-template>
			<form [formGroup]="workoutFormGroup">
				<mat-step [stepControl]="client">
					<ng-template matStepLabel>Client</ng-template>
					<mat-form-field>
						<mat-label>Choose a client</mat-label>
						<mat-select formControlName="client">
							<h3>
								<mat-option *ngFor="let client of clients" [value]="client">
									{{ client.displayName | titlecase }}
								</mat-option>
							</h3>
						</mat-select>
						<mat-error *ngIf="client.invalid && client.touched"
							>You must select a client</mat-error
						>
					</mat-form-field>
					<div>
						<!-- <button mat-button matStepperPrevious>Back</button> -->
						<button
							mat-button
							matStepperNext
							[disabled]="
								client.value == null ||
								(client.invalid && (client.dirty || client.touched))
							"
						>
							Next
						</button>
					</div>
				</mat-step>
				<mat-step [stepControl]="startingDate">
					<ng-template matStepLabel>Starting date</ng-template>
					<mat-form-field>
						<mat-label>Choose a date</mat-label>
						<input
							matInput
							formControlName="startingDate"
							[max]="maxDate"
							[matDatepicker]="picker"
						/>
						<mat-error *ngIf="startingDate.invalid && startingDate.touched">
							<span *ngIf="startingDate.errors.required">
								You must choose a valid date
							</span>
							<span *ngIf="startingDate.errors.matDatepickerMax">
								You must choose a date before {{ maxDate.toLocaleDateString() }}
							</span>
						</mat-error>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
					<div>
						<button
							matTooltip="Set today as the date"
							mat-stroked-button
							(click)="startingDate.setValue(maxDate)"
						>
							Today
						</button>
						<button
							[disabled]="
								startingDate.value == null ||
								(startingDate.invalid &&
									(startingDate.dirty || startingDate.touched))
							"
							mat-button
							matStepperNext
						>
							Next
						</button>
					</div>
				</mat-step>
				<mat-step [stepControl]="endingDate">
					<ng-template matStepLabel>Ending date</ng-template>
					<mat-form-field>
						<mat-label>Choose a date</mat-label>
						<input
							matInput
							formControlName="endingDate"
							[min]="maxDate"
							[matDatepicker]="pickerEnd"
						/>
						<mat-error *ngIf="endingDate.invalid && endingDate.touched">
							<span *ngIf="endingDate.errors.required">
								You must choose a valid date
							</span>
							<span *ngIf="endingDate.errors.matDatepickerMax">
								You must choose a date after {{ maxDate.toLocaleDateString() }}
							</span>
						</mat-error>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #pickerEnd></mat-datepicker>
					</mat-form-field>
					<div>
						<button mat-button matStepperPrevious>Back</button>
						<button
							matTooltip="Ending date one month from now"
							mat-stroked-button
							(click)="endingDate.setValue(addMonths(maxDate, 1))"
						>
							+1 Month
						</button>
						<button
							matTooltip="Ending date two month from now"
							mat-stroked-button
							(click)="endingDate.setValue(addMonths(maxDate, 2))"
						>
							+2 Months
						</button>
						<button
							[disabled]="
								endingDate.value == null ||
								(endingDate.invalid && (endingDate.dirty || endingDate.touched))
							"
							mat-button
							matStepperNext
						>
							Next
						</button>
					</div>
				</mat-step>
				<!-- attached file -->
				<mat-step [stepControl]="attachedFile">
					<ng-template matStepLabel>Upload file</ng-template>
					<input
						style="display: none"
						type="file"
						(change)="onFileSelect($event)"
						#hiddenfileinput
					/>
					<button mat-button (click)="hiddenfileinput.click()">
						{{ attachedFile.value ? attachedFile.value.name : 'Upload file' }}
					</button>
					<div>
						<button mat-button matStepperPrevious>Back</button>
						<button
							[disabled]="
								attachedFile.value == null ||
								(attachedFile.invalid &&
									(attachedFile.dirty || attachedFile.touched))
							"
							mat-button
							matStepperNext
						>
							Next
						</button>
					</div>
				</mat-step>
				<mat-step>
					<ng-template matStepLabel>Add some notes</ng-template>
					<p>Tell me more about it</p>
					<mat-form-field class="full-width">
						<mat-label>✍️ Write down your thoughts </mat-label>
						<textarea
							matInput
							placeholder="Ex. Do the appropriate stretching after every workout"
							formControlName="notes"
						></textarea>
					</mat-form-field>
					<div>
						<button mat-button matStepperPrevious>Back</button>
						<button mat-button matStepperNext>Next</button>
					</div>
				</mat-step>
				<mat-step>
					<ng-template matStepLabel>Overview</ng-template>
					<mat-form-field class="full-width">
						<mat-label>👤 Client</mat-label>
						<input matInput [value]="client.value?.displayName" disabled />
					</mat-form-field>
					<mat-form-field class="full-width">
						<mat-label>📅 Starting Date</mat-label>
						<input
							matInput
							[value]="startingDate.value?.toLocaleDateString()"
							disabled
						/>
						<mat-datepicker #overviewDate></mat-datepicker>
					</mat-form-field>
					<mat-form-field class="full-width">
						<mat-label>📅 Ending Date</mat-label>
						<input matInput [value]="endingDate.value?.toLocaleDateString()" disabled />
						<mat-datepicker #overviewDate></mat-datepicker>
					</mat-form-field>
					<mat-form-field class="full-width">
						<mat-label>Attached File</mat-label>
						<input matInput [value]="attachedFile.value?.name" disabled />
					</mat-form-field>
					<mat-form-field class="full-width">
						<mat-label>✍️ Extra notes </mat-label>
						<textarea
							matInput
							disabled
							value="{{ workoutFormGroup.value?.notes }}"
						></textarea>
					</mat-form-field>
					<div>
						<button
							mat-raised-button
							color="warn"
							(click)="workoutFormGroup.reset(); stepper.reset()"
						>
							Cancel
						</button>
						<button mat-button matStepperPrevious>Back</button>
						<button mat-raised-button color="accent" (click)="newWorkout()">
							Save
						</button>
					</div>
				</mat-step>
			</form>
		</mat-horizontal-stepper>
	</mat-card-content>
</mat-card>
