<mat-card id="info-card">
	<mat-card-content>
		<!-- basic attributes -->
		<mat-card>
			<app-upload-photo
				[title]="'Foto Profilo'"
				[src]="client.photoURL"
				[disabled]="!pendingChanges"
			>
			</app-upload-photo>
			<form class="form">
				<table cellspacing="1" align="center">
					<tr>
						<td>
							<mat-form-field class="field-large" color="accent">
								<mat-label>Nome</mat-label>
								<input
									type="text"
									matInput
									required
									[formControl]="nameFC"
									[readonly]="!pendingChanges"
								/>
							</mat-form-field>
						</td>
						<td>
							<mat-form-field class="field-large" color="accent">
								<mat-label>Cognome</mat-label>
								<input
									#cognome
									matInput
									required
									placeholder="Rossi"
									[formControl]="surnameFC"
									[readonly]="!pendingChanges"
								/>
							</mat-form-field>
						</td>
					</tr>
				</table>
				<mat-form-field class="field-extra-extra-large">
					<mat-label> Email </mat-label>
					<input
						name="email"
						matInput
						[(ngModel)]="client.email"
						[readonly]="!pendingChanges"
					/>
				</mat-form-field>
			</form>
		</mat-card>
		<div ngSwitch="{{ client.type }}">
			<mat-card>
				<mat-card-content>
					<!-- client attributes -->
					<form class="form" *ngSwitchCase="UserTypes.client">
						<mat-form-field class="field-extra-extra-large">
							<mat-label> Codice Fiscale </mat-label>
							<input
								name="fiscalCode"
								type="text"
								matInput
								[(ngModel)]="client.fiscalCode"
								[readonly]="!pendingChanges"
							/>
						</mat-form-field>
						<table cellspacing="1" align="center">
							<tr>
								<td>
									<!-- birthday -->
									<mat-form-field class="field-large" color="accent">
										<mat-label>Data di Nascita</mat-label>
										<input
											matInput
											[matDatepicker]="picker"
											(focus)="picker.open()"
											[formControl]="birthdayFC"
											[readonly]="!pendingChanges"
											required
										/>
										<mat-error *ngIf="birthdayFC.hasError('required')">
											Data di nascita <strong>obbligatoria</strong>
										</mat-error>
										<mat-datepicker
											#picker
											[disabled]="!pendingChanges"
										></mat-datepicker>
									</mat-form-field>
								</td>
								<td>
									<!-- sex -->
									<mat-form-field color="accent" class="field-large">
										<mat-label>Sesso</mat-label>
										<mat-select
											[formControl]="sexFC"
											[disabled]="!pendingChanges"
											required
										>
											<mat-option value="man">Uomo ♂️</mat-option>
											<mat-option value="woman">Donna ♀️</mat-option>
										</mat-select>
										<mat-error *ngIf="sexFC.hasError('required')">
											Sesso <strong>obbligatorio</strong>
										</mat-error>
									</mat-form-field>
								</td>
							</tr>
						</table>
						<table cellspacing="1" align="center">
							<tr>
								<td>
									<mat-form-field color="accent" class="field-large">
										<mat-label> Stato </mat-label>
										<input
											name="state"
											type="text"
											matInput
											[(ngModel)]="client.address.state"
											[readonly]="!pendingChanges"
											disabled
										/>
									</mat-form-field>
								</td>
								<td>
									<mat-form-field color="accent" class="field-large">
										<mat-label> Provincia </mat-label>
										<input
											name="province"
											type="text"
											matInput
											[(ngModel)]="client.address.province"
											[readonly]="!pendingChanges"
											disabled
										/>
									</mat-form-field>
								</td>
							</tr>
						</table>
						<table cellspacing="1" align="center">
							<tr>
								<td>
									<mat-form-field color="accent" class="field-extra-large">
										<mat-label> Citta </mat-label>
										<input
											name="city"
											type="text"
											matInput
											[(ngModel)]="client.address.city"
											[readonly]="!pendingChanges"
										/>
									</mat-form-field>
								</td>
								<td>
									<mat-form-field color="accent" class="field-medium">
										<mat-label> Codice postale </mat-label>
										<input
											name="postalCode"
											type="text"
											matInput
											[(ngModel)]="client.address.postalCode"
											[readonly]="!pendingChanges"
										/>
									</mat-form-field>
								</td>
							</tr>
							<tr>
								<td>
									<mat-form-field color="accent" class="field-extra-large">
										<mat-label> Indirizzo </mat-label>
										<input
											name="address"
											type="text"
											matInput
											[(ngModel)]="client.address.street"
											[readonly]="!pendingChanges"
										/>
									</mat-form-field>
								</td>
								<td>
									<mat-form-field color="accent" class="field-medium">
										<mat-label> Numero </mat-label>
										<input
											name="number"
											type="text"
											matInput
											[(ngModel)]="client.address.number"
											[readonly]="!pendingChanges"
										/>
									</mat-form-field>
								</td>
							</tr>
						</table>
						<!-- workouts -->
						<!-- <button mat-raised-button color="primary" (click)="getClientWorkouts()">
							I miei Allenamenti
						</button> -->
					</form>
				</mat-card-content>
				<mat-divider></mat-divider>
				<mat-card-actions>
					<button
						color="warn"
						mat-raised-button
						*ngIf="pendingChanges"
						(click)="backup()"
					>
						Ripristina
					</button>
					<button mat-raised-button *ngIf="pendingChanges" (click)="cancel()">
						Annulla
					</button>
					<button
						color="accent"
						mat-raised-button
						*ngIf="pendingChanges"
						(click)="save()"
					>
						Salva
					</button>
					<button
						color="accent"
						mat-raised-button
						*ngIf="!pendingChanges"
						(click)="modify()"
					>
						Modifica
					</button>
				</mat-card-actions>
			</mat-card>
			<!-- trainer -->
			<form class="form" *ngSwitchCase="UserTypes.trainer"></form>
			<!-- manager -->
			<form class="form" *ngSwitchCase="UserTypes.manager"></form>
			<!-- default -->
			<form class="form" *ngSwitchDefault></form>
		</div>

		<!-- trainer attributes -->
		<!-- manager attributes -->
	</mat-card-content>
</mat-card>
