<mat-card
	[class.mat-elevation-z0]="true"
	style="float: left; overflow: hidden"
	class="example-full-width"
	align="center"
>
	<mat-card-title style="margin-bottom: 20px">Aggiungi un nuovo cliente</mat-card-title>
	<mat-card-content>
		<form class="example-form">
			<mat-slide-toggle
				class="example-full-width"
				color="accent"
				style="margin: 10px 0"
				[checked]="notShowClients"
				(toggleChange)="toggleNotShowClients()"
			>
				Nascondi già clienti
			</mat-slide-toggle>
			<!-- user -->
			<mat-form-field class="example-full-width" color="accent">
				<mat-label>Utente</mat-label>
				<input
					matInput
					placeholder="Digita per filtrare..."
					aria-label="User"
					[matAutocomplete]="auto"
					[formControl]="userFormControl"
				/>
				<button
					mat-button
					*ngIf="selected_user"
					matSuffix
					mat-icon-button
					aria-label="Clear"
					(click)="changeUser()"
				>
					<mat-icon color="accent">close</mat-icon>
				</button>
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option
						*ngFor="let user of filteredUsers | async"
						[value]="user.displayName"
						(onSelectionChange)="selectedValueChange(user)"
					>
						<img
							*ngIf="user?.photoURL"
							class="example-option-img"
							aria-hidden
							[src]="user.photoURL"
							height="25"
							style="border-radius: 100%"
						/>
						<i
							*ngIf="!user?.photoURL"
							class="material-icons md-48 example-option-img"
							style="font-size: x-large"
							>account_circle</i
						>
						<span>{{ user.displayName }}</span> |
						<small>
							<em>{{ user.email }} </em>
						</small>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<!-- location -->
			<mat-form-field class="example-full-width">
				<mat-label>Sede</mat-label>
				<input matInput disabled value="Gymnasium #1" />
			</mat-form-field>

			<!-- *** CONTACT -->
			<!-- photo -->
			<p
				style="
					display: flex;
					text-align: center;
					align-items: center;
					width: fit-content;
					margin: 20px auto;
				"
			>
				<img
					id="photo-profile"
					alt=""
					style="
						border-radius: 100%;
						width: 100px;
						height: 100px;
						border: solid 2px white;
					"
					hidden="true"
				/>
				<button
					mat-raised-button
					*ngIf="!photoFormControl.value"
					aria-label="Upload"
					(click)="uploadPhoto()"
				>
					Foto profilo
					<i class="material-icons-two-tone">add_a_photo</i>
				</button>
				<button
					*ngIf="photoFormControl.value"
					mat-icon-button
					aria-label="Clear"
					(click)="photoFormControl.setValue(null); removePhoto()"
				>
					<mat-icon>clear</mat-icon>
				</button>
			</p>
			<!-- email -->
			<mat-form-field class="example-full-width">
				<mat-label>Email</mat-label>
				<input matInput [formControl]="emailFC" />
				<mat-error *ngIf="emailFC.hasError('required')">
					La mail è <strong>obbligatoria</strong>
				</mat-error>
				<mat-error *ngIf="emailFC.hasError('email')">
					Inserire una mail <strong>valida</strong>
				</mat-error>
				<button
					mat-button
					*ngIf="emailFC.value"
					matSuffix
					mat-icon-button
					aria-label="Clear"
					(click)="emailFC.setValue(null)"
				>
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
			<!-- *** ANAGRAPHICS -->
			<!-- name - surname -->
			<table class="example-full-width" cellspacing="0">
				<tr>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Nome</mat-label>
							<input
								#nome
								matInput
								required
								placeholder="Mario"
								[formControl]="nomeFormControl"
							/>
							<button
								mat-button
								*ngIf="nomeFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="nomeFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Cognome</mat-label>
							<input
								#cognome
								matInput
								required
								placeholder="Rossi"
								[formControl]="cognomeFormControl"
							/>
							<button
								mat-button
								*ngIf="cognomeFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="cognomeFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
				</tr>
			</table>
			<!-- birthday - sex -->
			<table class="example-full-width" cellspacing="0">
				<tr>
					<td>
						<mat-form-field style="margin: 10px">
							<mat-label>Data di Nascita</mat-label>
							<input
								matInput
								[matDatepicker]="pickerInizio"
								(focus)="pickerInizio.open()"
								[formControl]="birthdayFormControl"
								readonly
								required
							/>
							<mat-error *ngIf="birthdayFormControl.hasError('required')">
								Data di nascita <strong>obbligatoria</strong>
							</mat-error>
							<button
								mat-button
								*ngIf="birthdayFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="birthdayFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
						<mat-datepicker #pickerInizio></mat-datepicker>
					</td>
					<td>
						<mat-form-field style="margin: 10px" color="accent">
							<mat-label>Sesso</mat-label>
							<mat-select [formControl]="sexFormControl">
								<mat-option value="man">Uomo ♂️</mat-option>
								<mat-option value="woman">Donna ♀️</mat-option>
							</mat-select>
							<mat-error *ngIf="sexFormControl.hasError('required')">
								Sesso <strong>obbligatorio</strong>
							</mat-error>
							<button
								mat-button
								*ngIf="sexFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="sexFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
				</tr>
			</table>
			<!-- birthCountry - birthCity -->
			<table class="example-full-width" cellspacing="0">
				<tr>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Paese di nascita</mat-label>
							<input
								matInput
								required
								placeholder="Italia"
								[formControl]="birthCountryFC"
							/>
							<mat-error *ngIf="birthCountryFC.hasError('required')">
								Il paese di nascita è <strong>obbligatorio</strong>
							</mat-error>
							<button
								mat-button
								*ngIf="birthCountryFC.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="birthCountryFC.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Comune di nascita</mat-label>
							<input
								matInput
								placeholder="Vicenza"
								required
								[formControl]="birthCityFC"
							/>
							<mat-error *ngIf="birthCityFC.hasError('required')">
								Il comune di nascita è <strong>obbligatorio</strong>
							</mat-error>
							<button
								mat-button
								*ngIf="birthCityFC.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="birthCityFC.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
				</tr>
			</table>
			<!-- fiscal code -->
			<mat-form-field class="example-full-width" color="accent">
				<mat-label>Codice Fiscale</mat-label>
				<input
					matInput
					#codiceFiscale
					maxlength="16"
					minlength="16"
					required
					[formControl]="codiceFiscaleFormControl"
				/>
				<mat-hint align="end">{{ codiceFiscale.value.length }} / 16</mat-hint>
				<br />
				<mat-error *ngIf="codiceFiscaleFormControl.hasError('required')">
					Codice fiscale <strong>obbligatorio</strong>
				</mat-error>
				<mat-error *ngIf="codiceFiscaleFormControl.hasError('minlength')">
					Minimo 16 caratteri
				</mat-error>
				<mat-error *ngIf="codiceFiscaleFormControl.hasError('maxlength')">
					Massimo 16 caratteri
				</mat-error>
				<mat-error *ngIf="codiceFiscaleFormControl.hasError('pattern')">
					Inserisci un codice fiscale <strong>valido</strong>
				</mat-error>
				<button
					mat-button
					*ngIf="codiceFiscaleFormControl.value"
					matSuffix
					mat-icon-button
					aria-label="Clear"
					(click)="codiceFiscaleFormControl.setValue(null)"
				>
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
			<br /><br />
			<!-- *** RESIDENCE -->
			<table class="example-full-width" cellspacing="0">
				<!-- state - province -->
				<tr>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Stato</mat-label>
							<input
								matInput
								placeholder="Italia"
								[formControl]="stateFormControl"
								required
							/>
							<mat-error *ngIf="stateFormControl.hasError('required')">
								Lo stato di residenza è <strong>obbligatorio</strong>
							</mat-error>
							<button
								mat-button
								*ngIf="stateFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="stateFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Provincia</mat-label>
							<input matInput [formControl]="provinceFormControl" required />
							<mat-error *ngIf="provinceFormControl.hasError('required')">
								La provincia di residenza è <strong>obbligatoria</strong>
							</mat-error>
							<button
								mat-button
								*ngIf="provinceFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="provinceFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
				</tr>
				<!-- city - postal code -->
				<tr>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Città</mat-label>
							<input
								matInput
								placeholder="Ex. Milano"
								[formControl]="cityFormControl"
								required
							/>
							<mat-error *ngIf="cityFormControl.hasError('required')">
								La città è <strong>obbligatoria</strong>
							</mat-error>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Codice Postale</mat-label>
							<input
								matInput
								#postalCode
								maxlength="5"
								placeholder="Ex. 36000"
								[formControl]="postalCodeFormControl"
								required
							/>
							<mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
							<mat-error *ngIf="postalCodeFormControl.hasError('required')">
								Codice postale <strong>obbligatorio</strong>
							</mat-error>
						</mat-form-field>
					</td>
				</tr>
				<!-- street - number -->
				<tr>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Indirizzo</mat-label>
							<input
								type="text"
								matInput
								placeholder="Es. Via Roma"
								required
								[formControl]="streetFormControl"
							/>
							<mat-error *ngIf="streetFormControl.hasError('required')">
								L'indirizzo è <strong>obbligatorio</strong>
							</mat-error>
							<button
								mat-button
								*ngIf="streetFormControl.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="streetFormControl.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="example-full-width" color="accent">
							<mat-label>Numero</mat-label>
							<input
								type="text"
								matInput
								placeholder="Es. 10"
								required
								[formControl]="numberFC"
							/>
							<mat-error *ngIf="numberFC.hasError('required')">
								Il numero è <strong>obbligatorio</strong>
							</mat-error>
							<button
								mat-button
								*ngIf="numberFC.value"
								matSuffix
								mat-icon-button
								aria-label="Clear"
								(click)="numberFC.setValue(null)"
							>
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</td>
				</tr>
			</table>
		</form>
		<!-- notifications -->
		<p style="display: inline-grid">
			<mat-slide-toggle
				class="example-full-width"
				color="accent"
				style="margin: 10px 0"
				[(ngModel)]="mailNotifications"
			>
				Notifiche mail <strong> {{ mailNotifications ? 'ON' : 'OFF' }} </strong>
			</mat-slide-toggle>
			<mat-slide-toggle
				class="example-full-width"
				color="accent"
				style="margin: 10px 0"
				[(ngModel)]="pushNotifications"
			>
				Notifiche push <strong> {{ pushNotifications ? 'ON' : 'OFF' }} </strong>
			</mat-slide-toggle>
		</p>
	</mat-card-content>

	<mat-card-actions>
		<button mat-raised-button color="warn" (click)="resetClient()">Reset</button>
		<button
			mat-raised-button
			color="primary"
			(click)="addClient()"
			[disabled]="
				alreadyClient ||
				userFormControl.invalid ||
				photoFormControl.invalid ||
				emailFC.invalid ||
				nomeFormControl.invalid ||
				cognomeFormControl.invalid ||
				birthdayFormControl.invalid ||
				sexFormControl.invalid ||
				birthCountryFC.invalid ||
				birthCityFC.invalid ||
				codiceFiscaleFormControl.invalid ||
				stateFormControl.invalid ||
				provinceFormControl.invalid ||
				cityFormControl.invalid ||
				postalCodeFormControl.invalid ||
				streetFormControl.invalid ||
				numberFC.invalid
			"
		>
			Aggiungi Cliente
		</button>
		<button
			*ngIf="alreadyClient"
			mat-icon-button
			matTooltip="Questo utente è già un cliente. Clicca per cancellare la selezione"
			matTooltipPosition="right"
			matTooltipHideDelay="1000"
			(click)="resetClient()"
		>
			<mat-icon>help</mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
